

.container .achor_link{
    text-decoration: none;
    color: white;
    font-size:1.4rem;
    
}

.container .tab_container{
    display: flex;
    width: 100%;
    justify-content: center;    
    align-items: center;
    margin:0 auto;
}
.container a:hover{    
    color: white;    
}

.table_container {
  width: 80%;
  margin: 10px auto;

  
}

.container .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

